<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1042900271746-v772rmjg45kiokgjm3eictg3fnfbk0j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042900271746-v772rmjg45kiokgjm3eictg3fnfbk0j8</string>
	<key>API_KEY</key>
	<string>AIzaSyDKfrpDZ-tQls0--IupgCuEJ8Ld4_yjxGs</string>
	<key>GCM_SENDER_ID</key>
	<string>1042900271746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BerndEdlinger.ColorBall</string>
	<key>PROJECT_ID</key>
	<string>werbung-2e369</string>
	<key>STORAGE_BUCKET</key>
	<string>werbung-2e369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042900271746:ios:4b28bf0057dc7d7b</string>
	<key>DATABASE_URL</key>
	<string>https://werbung-2e369.firebaseio.com</string>
</dict>
</plist>