<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564336862230-rmae4q9r7uidk743pjf8s4v5inrk18og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564336862230-rmae4q9r7uidk743pjf8s4v5inrk18og</string>
	<key>API_KEY</key>
	<string>AIzaSyD9fgMDALt61ECLZIUgsrRt4fAQz9WqyZY</string>
	<key>GCM_SENDER_ID</key>
	<string>564336862230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RamsenthalerLaurens.StageBallz</string>
	<key>PROJECT_ID</key>
	<string>stageballz</string>
	<key>STORAGE_BUCKET</key>
	<string>stageballz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:564336862230:ios:3bd27df6c9f2dd38</string>
	<key>DATABASE_URL</key>
	<string>https://stageballz.firebaseio.com</string>
</dict>
</plist>
